.navbar-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  position: fixed;
  z-index: 100;

  width: 100%;
  height: 72px;
  padding: 0px 0px 0px 72px;
  box-sizing: border-box;

  color: var(--gry1);

  background-color: var(--prm4);
}

.link {
  color: var(---gry1);
  text-decoration: none;
  font-weight: 600;
  font-size: 1.25rem;
}

.navbar-action {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
  width: 360px;

  padding: 0px 24px;
  box-sizing: border-box;

  background-color: var(--prm1);

  color: var(--gry7);
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 900;
  text-decoration: none;

  outline: 2px solid var(--gry7);
  outline-offset: -16px;

  cursor: pointer;
}

.navbar-action:hover {
  background-color: var(--prm2);
  color: var(--prm4);
}
