body {
  margin: 0;
  font-family: costa,-apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14pt;
  font-weight: 400;
  font-style: normal;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --white: #fff;
  --black: #000;
  --prm1: #f8dbbb;
  --prm2: #bfb3ad;
  --prm3: #888992;
  --prm4: #5c6888;
  --gry1: #e0dadb;
  --gry2: #bbb0b1;
  --gry3: #9e8b8c;
  --gry4: #6c595b;
  --gry5: #4f4349;
  --gry6: #35313a;
  --gry7: #101324;
  --err: #EB5757;
  --warn: #F2994A;
  --note: #F2C94C;
  --succ: #219653;

  background-color: var(--gry1);
}

h1{
  font-family: kanit, sans-serif;
  font-size: 60pt;
  font-weight: 700;

  margin:0;
}

h2{
  font-family: kanit, sans-serif;
  font-size: 48pt;
  font-weight: 900;

  margin:0;
}

h3{
  font-family: kanit, sans-serif;
  font-size: 48pt;
  font-weight: 100;

  margin:0;
}

h4{
  font-family: kanit, sans-serif;
  font-size: 24pt;
  font-weight: 900;

  margin:0;
}

h5{
  font-family: kanit, sans-serif;
  font-size: 24pt;
  font-weight: 700;

  margin:0;
}

h6{
  font-family: kanit, sans-serif;
  font-size: 16pt;
  font-weight: 700;

  margin:0;
}

em{
  font-weight: 500;
  font-style: italic;
}

strong{
  font-weight: 700;
}

code{
  font-family: "Fira Code";
  font-size: 14pt;
  font-weight: 500;
}